
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container {
    max-width: 500px;
    width: 50%;
    background: #fff;
    padding: 10px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

.header {
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    font-size: 4rem;
}


.section-header {
    text-align: left;
    margin-bottom: 20px;
}

.section-header h1 {
    font-size: 1.8rem;
}

.section-header p {
    color: #555;
}

.poem-text {
    margin-bottom: 20px;
    font-size: 1.3rem;
    line-height: 1.6;
    color:blue;
}

@media (max-width: 600px) {
    .poem-text {
        font-size: 1.1rem;
    }
}
